Resources/Resource.designer.cs
*.user
test.cpp
.project
.metadata
bin/
*.vcxproj
*.vcxproj.filters
tmp/
obj/
*.sln
*.suo
*.csproj
x64/
Debug/
Release/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
Resources/Resource.designer.cs
